<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="project.letshang">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="stateAlwaysHidden|adjustResize|adjustPan">
        <activity android:name=".Forum">
        </activity>
        <activity
            android:name=".UserFriends"
            android:parentActivityName=".UserMain"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".MessageBox"
            android:parentActivityName=".UserMain">
        </activity>
        <activity
            android:name=".meetingFriends"
            android:parentActivityName=".UserMain">
        </activity>
        <activity
            android:name=".searchMeeting"
            android:parentActivityName=".UserMain">
        </activity>
        <activity
            android:name=".meetingInfo"
            android:parentActivityName=".UserMain">
        </activity>
        <activity
            android:name=".newMeeting"
            android:label="@string/newMeetingLabel"
            android:parentActivityName=".UserMain">
        </activity>
        <activity
            android:name=".userAccount"
            android:parentActivityName=".UserMain">
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"/>
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="@string/fb_login_protocol_scheme"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".signup"
            android:label="@string/signUp"
            android:parentActivityName=".login">
        </activity>
        <activity android:name=".UserMain">
        </activity>
        <activity
            android:name=".login"
            android:configChanges="orientation|locale"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAyT-mNFecACyZjyCHNCsW_4_B6aFUmVcw"/>
    </application>

</manifest>